* {
  margin: 0;
  padding: 0;
}
.container {
  background-color: rgb(194, 190, 190);
  width: 1300px;
  margin: auto;
}

.header {
  text-align: center;
}
.header a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: blue;
  display: inline-block;
  width: 100px;
}
.header a:hover {
  color: whitesmoke;
}
